*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html {
  background: #302d31;

  /* background: #c8a2c8; */
  /* background: #d3e8d3; */
}
body {
  overflow-x: hidden;
  /* position: relative; */
  height: 100%;
  width: 100vw;
}
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-family: verdana;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}
a:link {
  color: rgb(0, 174, 255);
  text-decoration: none;
  font-size: 1rem;
}

a:visited {
  color: green;
  text-decoration: none;
  font-size: 1rem;
}
ul {
  display: flex;
  flex-direction: column;

  justify-content: center;
}
li {
  padding-top: 0.5em;
  font-size: 1.5rem;
  text-decoration: none;
  list-style: none;
  color: chartreuse;
}
.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.section {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: "Cabin", sans-serif;
  color: #ffeded;
  text-transform: uppercase;
  font-size: 7vmin;
  padding-left: 10%;
  padding-right: 10%;
}

section:nth-child(odd) {
  justify-content: flex-end;
}
#myprojects {
  flex-direction: column;
  z-index: 1;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  z-index: 1;
  position: relative;
}
#iframe-container {
  border: 5mm ridge rgba(210, 204, 192, 0.9);
  border-radius: 10px;
  width: 50vw;
  height: 60vh;
  line-height: 0px;
  position: absolute;
  top: 400vh;
}
/* #container::before {
  content: url("/models/retro_comp_2.png");
  position: absolute;
  top: 11.25em;
  object-fit: cover;
  z-index: 0;
} */
iframe {
  border: 0;
  width: 100%;
  height: 100%;
  line-height: 0px;
}

span {
  position: relative;
  font-size: 1rem;
  width: 5em;
  height: 5em;
  border: none;
  border-radius: 0.63em;
  background: linear-gradient(180deg, rgb(210, 204, 192), rgb(48, 47, 45));
  box-shadow: inset -2em 0rem 2em rgba(0, 0, 0, 0.15),
    inset 0em -2em 2em rgba(0, 0, 0, 0.25), 0 0 0 0.125em rgba(0, 0, 0, 0.75),
    0.63em 0.93em 0.93em rgba(0, 0, 0, 0.45);
  overflow: hidden;
}

span::before {
  content: "";
  position: absolute;
  top: 0.19em;
  left: 0.25em;
  bottom: 0.88em;
  right: 0.75em;
  background: linear-gradient(90deg, rgb(65, 65, 63), rgb(181, 176, 165));
  border-radius: 0.63em;
  box-shadow: -0.63em -0.63em 0.63em rgba(232, 226, 213, 0.35),
    0.63em 0.93em 0.93em rgba(0, 0, 0, 0.15);
  border-left: 1px solid rgb(110, 110, 109);
  border-bottom: 1px solid rgb(106, 106, 101);
  border-top: 1px solid rgb(173, 173, 171);
}
span i {
  color: #000;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  position: absolute;
  left: 20%;
  top: 30%;
}
span a {
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  position: absolute;
  padding-right: 1em;
  left: 20%;
  top: 45%;
}
#home i,
#skills i,
#contact i {
  left: 29%;
  top: 29%;
  font-size: 1rem;
}

span:hover {
  text-decoration: none;
  box-shadow: -1px 0px 26px 8px rgba(250, 247, 247, 0.75) inset;
  -webkit-box-shadow: -1px 0px 26px 8px rgba(250, 247, 247, 0.75) inset;
  -moz-box-shadow: -1px 0px 26px 8px rgba(250, 247, 247, 0.75) inset;
  cursor: pointer;
}
span:active {
  transform: scale(0.9);
}

.button-container {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  position: absolute;
  transform: translate(-50%, 0%);
}

#button-container {
  top: 60vh;
  left: 50%;
}
#link-container {
  top: 76vh;
  left: 50%;
}
#credit {
  position: absolute;
  top: 380vh;
  display: flex;
  color: wheat;
  justify-items: center;
  font-size: 1rem;
  width: 100vw;
  padding-left: 10vw;
  text-transform: none;
}
li {
  font-size: 1rem;
}

/* iframe {
  min-height: 80vh;

  transform: scale(0.7);
  box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease;

   -ms-zoom: 0.7;
  -moz-transform: scale(0.6);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.7);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.7);
  -webkit-transform-origin: 0 0; 
  margin: auto;
}
iframe:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
  box-shadow: 10px 10px rgba(253, 249, 249, 0.25);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
.iframe-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

#skills {
} */

.down-arrow {
  position: absolute;
  top: 40vh;
  left: 50%;
  width: 30px;
  height: 30px;
  border-bottom: 8px solid;
  border-right: 8px solid;
  border-radius: 8px;
  transform: rotateZ(45deg) translateX(-45%);
}
@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}
.down-arrow {
  animation: jumpInfinite 1s 3000;
}
#instruction {
  position: absolute;
  width: 100%;
  top: 5rem;
  display: flex;
  justify-content: center;
  color: wheat;
  margin: 0;
  padding: 0;
  animation: jumpInfinite 1s 5000;
}
@media only screen and (max-width: 700px) {
  span {
    font-size: 0.6rem;
  }
  span i,
  span a {
    font-size: 0.4rem;
  }
}
@media only screen and (max-height: 600px) {
  span {
    font-size: 0.6rem;
  }
  span i,
  span a {
    font-size: 0.55rem;
  }
}
